/*TAGS*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #FF8C00;
}

header{
    clear: both;
    background-color: rgb(88, 0, 88);
    height: 80px;
    padding: 20px;
    color: white;
    text-align: center;
    border-bottom: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-width: 5px;
}
h1{
    color: #000000;
    text-align: right;
}

/*IDS*/
#principal{
    background-size: 100%;
    background-position: center;
    min-height: 400px;
}
#principal img{
    display: block;
    padding:20px;
    margin-left: 80px;
    margin-right: auto;
    margin-top: 80px;
}
/*#principal2{
    background-size: 100%;
    background-position: center;
    min-height: 400px;
}
#principal2 img{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/


#menu{
    float: center;
    margin: 5px;
}

#menu a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px;
}
#menu a:hover{
    background-color: white;
    color: rgb(119, 0, 255);
}
#menu p{
    color: white;
    font-size: 200px;
    font-family: Arial;
    text-shadow: 1px 1px 1px #111111;
}

/*CLASS*/
.container{
    width: 960px;
    margin:auto;
}
.efeito{
    background-color:rgba(255, 136, 0, 0.5);
}

/*.footer {
    position: fixed;
    padding: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color:rgb(88, 0, 88);
    text-align: center;
}*/
